.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  padding-top: 50px;
  justify-content: center;
}

@media screen and (max-width: 580px) {
  .gallery {
    padding-top: 36px;
  }
}
