.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 9px 0;
  max-width: 358px;
  outline: none;
}

@media screen and (max-width: 580px) {
  .popup__input {
    max-width: 232px;
  }
}
